.container {
	background-color: white;
  color: black;
	padding: 1.6rem;
	border-radius: 0.2rem;
	display: flex;
	flex-direction: column;
	box-shadow: 0 0.5rem 0.8rem -0.2rem rgba(0,0,0,.8);
}

.ulContainer {
	display: flex;
	flex-direction: column;
}
.liElement {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin-bottom: .3rem;
}

.refreshButton,
.deleteButton {
	background-color: #3c425c;
	color: rgba(255,255,255,9);
	margin-left: 0.5rem;	
	border: none;
	font-size: 0.5rem;
	font-weight: 600;
	padding: 0.3rem 0.8rem;	
	border-radius: 2rem;
	font-family: verdana;
	box-shadow: 0 0.1rem 0.4rem -0.2rem rgba(0,0,0,.8);	
	transition: all 0.2s ease-in-out;
}

.refreshButton {
	background-color: green;
}
.refreshButton:hover {
	color: green;
	background-color: greenyellow;
}

.deleteButton {
	background-color: red;
}
.deleteButton:hover {
	background-color: rgb(148, 0, 0);
	color: rgba(255, 255, 255, 1);
	box-shadow: 0 0.5rem .5rem .5rem rgba(255, 251, 251, 0.8);
}

/** ::active pseudo element */
.refreshButton:active,
.deleteButton:active {
	transform: scale(0.85);
}